@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-screen {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: grid;
  justify-content: center;
  overflow: hidden;
}

.unsupported-device{
  width: 150vw;
  height: 100vh;
}